@import "../styles/shared";

$cornflower-blue: #6078ea;
$cubic-bezier: cubic-bezier(0.694, 0.048, 0.335, 1);
$search-box-container-height: 50px;
$search-field-font-size: ($search-box-container-height/30px * 1rem);

.finder {
  text-align: center;

  .search-box-container {
    border: 0;
    height: $search-box-container-height;
    margin: 0 auto;
    margin-bottom: 75px;
    padding: 0;
    position: relative;
    width: 60%;

    .field {
      background: white;
      border: 0;
      border-radius: 3px;
      box-shadow: 0px 8px 15px rgba(#4b4848, 0.1);
      font-size: $search-field-font-size;
      height: 100%;
      padding: 10px $search-box-container-height 10px 20px;
      transition: all 0.4s ease;
      width: 100%;
      &:focus {
        box-shadow: 0px 9px 20px rgba(#4b4848, 0.3);
        outline: none;
        + .icons-container {
          .icon-close {
            opacity: 1;
            transform: translateX(0);
          }
          .icon-search {
            opacity: 0;
            transform: translateX(200%);
          }
        }
      }
    }

    .icons-container {
      height: inherit;
      overflow: hidden;
      position: absolute;
      right: 0px;
      top: 0px;
      width: $search-box-container-height;

      .icon-close {
        cursor: pointer;
        height: 60%;
        left: 8px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateX(-200%);
        transition: opacity 0.25s ease, transform 0.43s $cubic-bezier;
        width: 60%;
        &:before,
        &:after {
          background-color: $cornflower-blue;
          content: "";
          height: 2px;
          left: 0px;
          position: absolute;
          transform: rotate(45deg);
          width: 100%;
        }
        &:after {
          transform: rotate(-45deg);
        }
      }

      .icon-search {
        border: 3px solid mix($cornflower-blue, white, 35%);
        border-radius: 50%;
        bottom: -22%;
        height: 50%;
        left: 8px;
        opacity: 1;
        position: relative;
        transition: opacity 0.25s ease, transform 0.43s $cubic-bezier;
        width: 50%;
        &:after {
          background-color: mix($cornflower-blue, white, 35%);
          border-radius: 3px;
          bottom: -30%;
          content: "";
          height: 50%;
          position: absolute;
          right: -2px;
          transform: rotate(-45deg);
          width: 4px;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;

    td,
    th {
      text-align: left;
      padding-left: 8px;
    }

    thead tr {
      height: 60px;
      background: $color-primary-light;
      color: $color-primary-contrast;
      font-size: 1.2rem;
    }

    tbody tr {
      height: 48px;
      border-bottom: 1px solid $color-primary-contrast;
      font-size: 1.1rem;
      td:first-child {
        font-weight: 500;
      }
      &:last-child {
        border: 0;
      }
    }
  }
}
