@import "../styles/shared";

.site-footer {
  background-color: $color-primary;
  border: 0;
  color: lighten($color-primary, 25%);
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media print {
  .site-footer {
    display: none;
  }
}
