@import "../styles/shared";
$avatar-size: 40px;

.site-header {
  background-color: $color-primary;
  height: $header-height;
  left: 0;
  min-width: auto;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 5050;

  .logo > a {
    border-radius: 4px;
    color: lighten($color-primary, 60%);
    float: left;
    font-size: 1.6rem;
    font-weight: bold;
    height: inherit;
    line-height: 25px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
  }

  .dropdown {
    font-size: 1rem;
    position: relative;
    float: right;
    height: 100%;
    &:hover {
      .dropdown-btn {
        background-color: lighten($color-primary, 25%);
      }
      .dropdown-content {
        display: block;
        width: 100%;
      }
    }

    .dropdown-btn {
      background-color: lighten($color-primary, 15%);
      border: none;
      color: lighten($color-primary, 60%);
      font-size: 1rem;
      height: inherit;
      outline: none;
      padding: 0 6px;
      width: 100%;

      .avatar {
        background-size: cover;
        border-radius: 50%;
        display: inline-block;
        height: $avatar-size;
        vertical-align: middle;
        width: $avatar-size;
      }
    }

    .dropdown-content {
      background-color: #f1f1f1;
      box-shadow: 0px 8px 16px 0px rgba(240, 208, 208, 0.2);
      display: none;
      min-width: fit-content;
      white-space: nowrap;
      z-index: 1;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font: inherit;
        margin: 0;
        padding: 0;
        width: inherit;
      }
      a,
      button {
        color: black;
        display: block;
        padding: 10px;
        text-align: left;
        text-decoration: none;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}
@media print {
  .site-header {
    display: none;
  }
}
