@import "../styles/shared";

$table-bg-color: white;
$table-row-hover-bg-color: lighten($color-primary, 60%);

$search-input-height: 25px;
$search-field-font-size: ($search-input-height/30px * 1rem);

.user-commands {
  padding: 1%;

  .no-data-msg {
    text-align: center;
  }
  .heading {
    font-size: 1.5rem;
  }

  .toolbar {
    padding: 6px 0;
    overflow: hidden;
    .search-input {
      display: inline-block;
      width: 18rem;
      height: $search-input-height;
      .field {
        padding: 5px $search-input-height 5px 10px;
        font-size: $search-field-font-size;
      }
      .icons-container {
        width: $search-input-height;
        .icon-search {
          border-width: 2px;
          &::after {
            bottom: -50%;
            width: 2px;
          }
        }
        .icon-close,
        .icon-search {
          left: 4px;
        }
      }
    }
    .items-per-page {
      float: right;
    }
  }

  table {
    background: $table-bg-color;
    border-collapse: collapse;
    border-radius: 6px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    user-select: none;
    width: 100%;
    td.actions > span {
      cursor: pointer;
      padding: 6px;
      &.copy-icon,
      &.edit-icon {
        svg:hover {
          color: blue;
        }
      }
      &.delete-icon svg:hover {
        color: red;
      }
    }
    td,
    th {
      overflow: hidden;
      padding: 6px 16px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: pre;
    }
    thead tr {
      background: lighten($color-primary, 15%);
      color: lighten($color-primary, 60%);
      cursor: default;
      font-size: 1.2rem;
      height: 60px;
    }
    tbody tr {
      border-bottom: 1px solid lighten($color-primary, 60%);
      font-size: 1.1rem;
      height: 60px;
      td:first-child {
        font-weight: 500;
      }
      &:last-child {
        border: 0;
      }
      &:hover {
        background-color: $table-row-hover-bg-color;
      }
    }
    th.command-column {
      width: 50%;
    }
    th.actions-column {
      width: 150px;
    }
  }
}
