/* only import this file in index.scss to avoid duplication */

.tooltip {
  position: relative;

  &:before,
  &:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, -10px, 0);
    transition: all 0.15s ease-in-out;
  }
  &:after {
    content: "";
    height: 0;
    width: 0;
  }
  &:before {
    background-color: black;
    border-radius: 2px;
    color: #fff;
    content: attr(data-tooltip);
    padding: 6px 10px;
    text-transform: none;
    white-space: nowrap;
  }

  &:hover:after,
  &:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 9999;
  }

  &.tooltip-t {
    &:after {
      border-top: 6px solid black;
      bottom: 100%;
    }
    &:before {
      bottom: 100%;
      left: 0;
      margin-bottom: 6px;
    }
  }

  &.tooltip-b {
    &:after {
      border-bottom: 6px solid black;
      top: 100%;
    }
    &:before {
      left: 0;
      margin-top: 6px;
      top: 100%;
    }
  }

  &.tooltip-r {
    &:after {
      border-right: 6px solid black;
      left: 100%;
      top: 2px;
    }
    &:before {
      left: 100%;
      margin-left: 6px;
      top: -5px;
    }
  }

  &.tooltip-l {
    &:after {
      border-left: 6px solid black;
      right: 100%;
      top: 2px;
    }
    &:before {
      margin-right: 6px;
      right: 100%;
      top: -5px;
    }
  }

  &.tooltip-t:after,
  &.tooltip-b:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 20px;
  }

  &.tooltip-r:after,
  &.tooltip-l:after {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
  }
}
